apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  template:
    metadata:
      name: nginx-pod
      labels:
        app: nginx-pod
    spec:
      containers:
        - name: nginx-pod-container
          image: nginx:1
          ports:
            - containerPort: 80
  replicas: 3
  selector:
    matchLabels:
      app: nginx-pod
